button {
  width: 100%;
  margin-top: 10px;
}

.container {
  max-width: 600px;
  padding: 60px;

  /* SHADOW */
  -webkit-box-shadow: 1px 1px 31px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 31px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 31px -5px rgba(0, 0, 0, 0.75);
}

.formulario div[class^="col-md-"] {
  height: 90px;
}
.img-user {
  width: 100px;
  height: 50px;
  border: 1px solid black;
}
.img-user:hover {
  filter: opacity(.7);
    cursor:pointer;
    -webkit-filter: opacity(.7);
}
