<div *ngIf="usuario">
    <h1>Perfil de usuario especialista</h1>
    <div>
      <img [src]="usuario.imagenPerfil" alt="Imagen de Perfil" />
    </div>
    <div>
      <label>Nombre: </label>
      <span>{{ usuario.name }}</span>
    </div>
  
    <div>
      <label>Apellido: </label>
      <span>{{ usuario.lastName }}</span>
    </div>
  
    <div>
      <label>Edad: </label>
      <span>{{ usuario.edad }}</span>
    </div>
  
    <div>
      <label>Email: </label>
      <span>{{ usuario.email }}</span>
    </div>
  
    <div>
      <label>DNI: </label>
      <span>{{ usuario.dni }}</span>
    </div>
  
    <div>
      <label>Habilitado en el sistema: </label>
      <span>{{ usuario.emailVerificado ? "Sí" : "No" }}</span>
    </div>
    <div>
      <label>UID: </label>
      <span>{{ usuario.uid }}</span>
    </div>
    <button class="btn btn-danger" *ngIf="usuario.emailVerificado" (click)="inhabilitar()">inhabilitar</button>
    <button class="btn btn-primary" *ngIf="!usuario.emailVerificado" (click)="habilitar()">habilitar</button>
  </div>
  