button {
    width: 100%;
    margin-top: 25px;
  }
  
    .container {
      max-width: 600px;
      padding: 60px;
  
      /* SHADOW */
      -webkit-box-shadow: 1px 1px 31px -5px rgba(0,0,0,0.75);
      -moz-box-shadow: 1px 1px 31px -5px rgba(0,0,0,0.75);
      box-shadow: 1px 1px 31px -5px rgba(0,0,0,0.75);
  }
  
  .formulario div[class^="col-md-"] {
      height: 90px;
  }
  .checkbox-label {
    display: block;
    margin-bottom: 10px;
  }
  
  .checkbox-label input[type="checkbox"] {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
.imgPerfil img{
  width: 100%;
  height: 100%;

}
.imgPerfil{
  padding: 0;
  margin: 0;
  width: 250px;
  height: 250px;
  background-color: rgb(199, 199, 199);
}